.categoryContainer {
  color: black;
  background-color: #999999;
  border: 5px solid black;
  height: 600px;
  width: 400px;
}

.categoryContainerText {
  display: flex;
  margin-left: 4%;
  font-size: 20px;
  margin: 10%;
  text-decoration: none;
  color: black;
}

.categoryContainerHeading {
  color: black;
  margin-bottom: 0;
  font-size: 50px;
}